.toggle1 {
  font-size: 20px;
  color: #10b7eb;
  border: 1px solid #10b7eb;
}
.para1 {
  font-size: 15px;
  font-weight: 500;
  word-spacing: 4px;
  letter-spacing: 2px;
  text-align: justify;
  border: 1px solid #10b7eb;
}
